.caixa-hobbies {
    width: 60%;
    margin: 2rem auto;
    padding: 1.5rem;
    border: 2px solid #4CAF50;
    background-color: #ccffcc;
    font-size: 1.2rem;
}

.destaque {
    color: #ff4500;
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}